nav{
    background-color: #274c77;
}

li{
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
}

ul{
    align-items: center;
}


@media screen and (max-width:768px){

    .nav-bar{
        display: flex;
        flex-direction: column;
    }

    .ul-bar{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .ul-bar li{
        padding: 10px 0;
    }
}