@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    width: 90%;
}

.style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash{
    height: 5px;
}
